div.intro_container{
    margin-top: 110px;
    display: flex;
    padding: 20px;
}

.intro_container .left_section{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left_section h1{
    width: 60%;
    font-size: 60px;
}

.left_section p{
    width: 60%;
    font-size: 20px;
    margin-top: 20px;
}

.left_section .info_section{
    width: 60%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_section .info_section button{
    padding: 15px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    margin-right:20px;
}
.info_section .contact{
    display: flex;
    flex-direction: column;
}
.info_section .contact .phone{
    color: #f0667d;
    font-weight: bold;
}
.info_section .contact .contact_text{
    color: gray;
    margin-top: 5px;
}


.intro_container .right_section{
    width:40%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.intro_container .right_section .wrapper{
    width: 50%;
    padding: 10PX;
    border : 1px solid #48514b ;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.right_section .wrapper .content{
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span.subtitle{
    color:#827162;
    font-size:25px;
    font-weight: bold;
    letter-spacing: 2px;
}

span.value{
    color:#4e5551;
    font-size:20px;
    padding: 7px;
}

@media only screen and (max-width : 768px){
    div.intro_container{
        flex-direction: column;
    }

    .intro_container .left_section{
        width: 100%;
        height: 100%;
    }
    .left_section h1{
        width: 100%;
        font-size: 50px;
    }
    .left_section p{
        width: 100%;
    }
    .left_section .info_section{
        width: 100%;
        flex-direction: column;
    }
    .left_section .info_section button{
        margin-bottom: 20px;
    }
    .intro_container .right_section{
        margin-top:50px;
        width: 100%;
        height: 100%;
    }
}

